<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table border="1">
  <thead>
    <tr>
      <th>Full url</th>
      <th>Short url</th>
      <th>Access count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.full_url, link.full_url, target: "_blank" %></td>
        <td><%= link_to base_url(link.short_url), base_url(link.short_url), target: "_blank" %></td>
        <td><%= link.access_count %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
